h1 {
  text-align: center;
  background: rgb(87, 59, 59);
  
}

body {
  background: tan;

}

.intro-p {
  font-size: 18px;
}

h2 {
  text-align: center;
}

li {
  list-style-type: none;
  text-align: center;
}

img {
  width: 50%;
  display: block;
  margin: auto;
  padding: 20px;
}
