*{
    margin:0;
    padding:0;
}

header{
    background: cornflowerblue;
    color: burlywood;
    text-align: center;
}

h1{
    font-size:40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color:darkblue;
    font-size:25px;
}

body{
    background:palegoldenrod;
    text-align:center;
}

